*.pyc
*.pyo
*.swp

*/*.pyc
*/*.pyo
*/*.swp

.ipynb_checkpoints
*.zlib.pickle
*.pickle.zlib

*.pyc
*.pyo
*.swp
*.swo
*.db

*/*.pyc
*/*.pyo
*/*.swp
*/*.swo
*/*.db

*/*/migrations
*/*/*.pyc
*/*/*.pyo
*/*/*.swp
*/*/*.swo
*/*/*.db

*/*/*/*.pyc
*/*/*/*.pyo
*/*/*/*.swp
*/*/*/*.swo
*/*/*/*.db

data/*
python2/newenv
