*.pyc
*.pyo
*.swp

*/*.pyc
*/*.pyo
*/*.swp

.ipynb_checkpoints
*.zlib.pickle
*.pickle.zlib
data/src/*.png
data/dst/*.png
data/examples/*.png
data/src/spy.csv
python2/newenv

*.pyc
*.pyo
*.swp
*.swo
*.db

*/*.pyc
*/*.pyo
*/*.swp
*/*.swo
*/*.db

*/*/migrations
*/*/*.pyc
*/*/*.pyo
*/*/*.swp
*/*/*.swo
*/*/*.db

*/*/*/*.pyc
*/*/*/*.pyo
*/*/*/*.swp
*/*/*/*.swo
*/*/*/*.db

